[Unit]
Description=Pixelfed worker
Requires=pixelfed-setup.service
After=pixelfed-setup.service

[Service]
Restart=always
WorkingDirectory=/home/pixelfed/pixelfed
Type=simple
User=pixelfed
ExecStart=/home/pixelfed/worker.sh
EnvironmentFile=/home/pixelfed/pixelfed/.env

[Install]
WantedBy=default.target
