[Unit]
Description=Pixelfed worker
Requires=pixelfed-setup.service
After=pixelfed-setup.service

[Service]
Restart=always
Type=simple
User=pixelfed
ExecStart=/usr/local/bin/apache2-foreground

[Install]
WantedBy=default.target