[Unit]
Description=Pixelfed worker
Requires=pixelfed-setup.service
After=pixelfed-setup.service

[Service]
Restart=always
WorkingDirectory=/home/pixelfed/pixelfed
Type=simple
ExecStart=/home/pixelfed/worker.sh

[Install]
WantedBy=default.target